.rubik-puddles-regular {
    font-family: "Rubik Puddles", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  
  .rubik-scribble-regular {
    font-family: "Rubik Scribble", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  
  * {
    box-sizing: border-box;
  }

img {
    border: 10px solid #d1b0b3a2;
    border-radius: 5px;
    padding: 5px;
    width: 800px;
    height: 400px;
    margin: 20px auto 10px;
    display: block;
}

h1 {
    font-family: "Rubik Scribble";
    font-size: 100px;
    margin: 30px auto;
    text-align: center;
    color: #d50c42;
    display: block;
}

figcaption {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-size: 15px;
    text-align: center;
    color: #d50c42;
    font-weight: 700;
    margin: 0 auto 70px;
}

p {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-size: 20px;
    text-align: justify;
    font-weight: normal;
    line-height: 30px;
    letter-spacing: 0.5px;
    padding: 20px 40px;
    margin: auto 30px;
}

.newidea {
    font-family: "Rubik Scribble";
    font-size: 40px;
    text-align: center;
}

.rules .newidea {
    margin-bottom: 10px;
}

div.description {
    color: #3400a3;
}

div.list {
    color: #00592e;
}

table {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    line-height: 30px;
    letter-spacing: 0.8px;
    padding: 20px;
    margin: 20px auto 40px;
}

ol {
    list-style:decimal;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-size: 20px;
    text-align: left;
    font-weight: 550;
    line-height: 30px;
    letter-spacing: 0.5px;
    color: #d50c42;
    margin: 40px auto auto 30px;
    padding: 40px 100px;
}

div.rules {
    color: #d50c42;
}

h6 {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-size: 17px;
    text-align: center;
    font-weight: bold;
    line-height: 10px;
    letter-spacing: 0.2px;
    margin: 10px auto 50px;
}

#homepage-title {
    font-family: "Rubik Puddles";
    color: #3400a3;
    font-weight: normal;
    font-size: 90px;
    box-sizing: border-box;
    width: 700px;
    height: 220px;
    text-align: center;
    margin: 40px auto;
    display: block;
    letter-spacing: 10px;;
  
}

table.index {
   box-sizing: border-box;
   font-size: 40px;
   letter-spacing: 1px;
   line-height: 30px;
   margin: 80px auto;
   text-align: center;
}

th {
    box-sizing: border-box;
    padding: 10px;
}

a {
    color: #d50c42;
}

a:hover {
    color: #00592e;
}

#d1b0b3

#d50c42

#3400a3

#172713
#00592e